*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 4vw;
}

.container {
 max-width:1200px;
 height: 100%;
 padding: 20px;
 margin: 0 auto;
  }
.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}

.card{
    overflow: hidden;
    width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;

   
}

.card img{
      height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;

} 

.card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: drop-shadow(0 0 10px #333);
    
}


.card:hover img{
    filter: grayscale(0%);
    
    }
/*     
    figcaption{
        position: absolute;
        margin-top: 49VH;
        margin-left: 1vw;
        background-image: linear-gradient(#333);


    } */

    .card figcaption{
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0 0 10px 10px;
        left: 0;
        bottom: 0;
        padding: 25px;
        transition: 0.3s;
        color: #fff;
        background: 0 0 20 #333;
        opacity: 0;
    }

    .card:hover figcaption{
        opacity: 1;
        transform: scale(1.03)
    }


    